<div class="game-title">
    <p class="group-name">Now Playing:  <%= @group.name %></p>
</div>
<div class="view">
<table>
  <tr class="row1">
    <td id="freeparking"></td>
    <td id="box1"><div id="box2div"></div></td>
    <td id="chance1"></td>
    <td id="box2"><div id="box2div"></div></td>
    <td id="box3"><div id="box3div"></div></td>
    <td id="rr1"><img src=<%=image_url("b&o_monopoly.jpg") %>/></td>
    <td id="box4"><div id="box4div"></div></td>
    <td id="box5"><div id="box5div"></div></td>
    <td id="ww1"><img src=<%=image_url("water_works.jpg") %>/></td>
    <td id="box6"><div id="box6div"></div></td>
    <td id="gotojail"></td>
  </tr>

  <tr class="row2">
    <!-- orange -->
    <td class="left-column" id="box22"><div id="box22div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="right-column" id="box7"><div id="box7div"></div></td>
  </tr>

  <tr class="row3">
    <!-- orange -->
    <td class="left-column" id="box21"><div id="box21div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="right-column" id="box8"><div id="box8div"></div></td>
  </tr>

  <tr class="row4">
    <td class="left-column" id="communitychest3"><img src=<%=image_url("communitychest3.jpg") %>/></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="right-column" id="communitychest1"><img src=<%=image_url("communitychest2.jpg") %>/></td>
  </tr>

  <tr class="row5">
  <!-- orange -->
    <td class="left-column" id="box20"><div id="box20div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="right-column" id="box9"><div id="box9div"></div></td>
  </tr>

  <tr class="row6">
    <td class="left-column" id="rr4"><img src=<%=image_url("Pennsylvania_Railroad.jpg") %>/></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="right-column" id="rr3"></td>
  </tr>

  <tr class="row7">
    <td class="left-column" id="box19"><div id="box19div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="right-column" id="chance2"><img src=<%=image_url("chance.jpeg") %>/></td>
  </tr>

  <tr class="row8">
    <td class="left-column" id="box18"><div id="box18div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="right-column" id="box10"><div id="box10div"></div></td>
  </tr>

  <tr class="row9">
    <td class="left-column" id="electric"><img src=<%=image_url("electric_company.png") %>/></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="right-column" id="luxury"></td>
  </tr>

  <tr class="row10">
    <td class="left-column" id="box17"><div id="box17div"></div></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="right-column" id="box11"><div id="box11div"></div></td>
  </tr>

  <tr class="row11">
    <td id="jail"></td>
    <td id="box16"><div id="box16div"></div></td>
    <td id="box15"><div id="box15div"></div></td>
    <td id="chance3"></td>
    <td id="box14"><div id="box14div"></div></td>
    <td id="rr3"></td>
    <td id="iclass="left-column" ncometax"></td>
    <td id="box13"><div id="box13div"></div></td>
    <td id="communitychest2"><img src=<%=image_url("communitychest.jpg") %>/></td>
    <td id="box12"><div id="box12div"></div></td>
    <td id="go"></td>
  </tr>


</table>

<table class="player-list">
    <tr class="headers";>
        <th>Player</th>
        <th>Properties</th>
    </tr>
    <% @users.each do |player| %>
        <tr class="player-data">
            <td><%= player.name %></td>
            <td><%= player.board_spots %></td>
        </tr>
    <% end %>

</table>
</div>

