<%= @game.name %>
  <div class="game-index">
    <% @game.bars.each do |bar| %>
			<p><%= bar.name %></p><br />
	  	<p><%= bar.address %></p><br />
	    <p><%= bar.rating %></p><br />
	    <p><a href="<% bar.website %>">Website</a></p><br />
	    <p><img src="<%= bar.photo %>"></p><br />
  <% end %>
  </div>